  h3 {
    text-align: center;
    color: black;
    text-shadow: 2px 1px #BFBFBF;
    font-family: sans-serif;
  }
  body {
    background-color: lavender;
    width: 100%;
  }
  a:link, a:visited {
    background-color: #6B6B6B;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    left: 47%;
  }
  a:hover, a:active {
    background-color: #999999;
  }
img {
  position: relative;
  left: 70px;
}
