body{
  margin:0;
}
.content{
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #222;
}
.panel{
  text-align: center;
  width: 450px;
}
.panel a{
  text-decoration: none;
  color: whitesmoke;
  background-color: steelblue;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.panel a:hover{
  background-color: #197ACC;
}
.content{
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
h1{
  padding: 5px;
  margin: 0;
}
